<%= form_with(model: product) do |form| %>

  <div>
    <%= form.label :code, "Upc Code" %>
    <%= form.text_field :code %>
    <b class="error"> <%= flash[:error] %></b>
  </div>

  <br>

  <div>
    <%= form.submit "Submit", class:"btn btn-primary" %> Or <%= link_to '<button type="button" class="btn btn-primary">Cancel</button>'.html_safe, products_path %>
  </div>

<% end %>